

:root {
 --color-lighter-blue:#007bff;
 --color-darker-blue:#0056b3; 
 --color-white: #f9f9f9;
 --color-grey:#eaeaea;
 --color-middle-blue:#0766F0;
 --color-red:#DC5E53;
 --color-green:#98DC62;

}
body {
    display: flex;
    background-color: var(--color-grey);
    font-family: sans-serif;
}

.right-part {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0.8rem;
}

.right-part_title {
    display: block;
    width: 100%;
    font-size: 2.5rem;
    padding: 2rem;
    
}

.right-part_article {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 60vh;
    border: 1px solid var(--color-grey);
    border-left: none;
    background-color: var(--color-white);
    padding: 2rem;
    
}

.article_theme {
    width: 25%;
    border-radius: 5px;
    padding: 0.3rem;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--color-green);
}

.theme--green {
    background-color: var(--color-green);
}
.theme--blue {
    background-color: var(--color-middle-blue);
}
.theme--red {
    background-color: var(--color-red);
}


.left-part {
    width: 50%;
}